services:
   - type: web
     plan: free
     name: render-Rickthon
     env: python
     branch: render
     startCommand: ./build.sh
     buildCommand: bash Rickthon
     envVars:
       - key: SKIP_INSTALL_DEPS
         value: true
     autoDeploy: true
